body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 40px;
}

#header {
  background: #404040;
  padding: 3px 0px 3px 13px;
  color: #fff;
}

#sidebar-left, #sidebar-right {
  width: 20%;
  min-height: 600px;
  background: #fbfbfb;
}

#content {
  width: 60%;
  min-height: 600px;
  background: #fff;
}

#footer {
  background: #808080;
  padding: 15px 0px 25px 13px;
  color: #fff;
}
